/* For information on how to create your own theme, please refer to:
http://ionicframework.com/docs/theming/ */
html {
    font-size: 1.2rem;
  }
  
  body {
    font-size: 1.2rem;
  }

  /* Ensure cards have proper spacing for scrolling 
ion-card {
  max-width: 36rem;
  padding: 0 1rem;
  margin: 1rem auto;
}*/