/*#article-list {
  max-width: 36rem;
  padding: 0 1rem;
  margin: 1rem auto;
}*/

.preview-description {
  display: inline-block;
}

.preview-chevron {
  vertical-align: middle;
  margin-left: 4px;
  display: inline-block;
}